<body>
<div class="wrapper">

  <div class="container-presentation  col-12 col-lg-6 ">
    <%# <div class=" row col-6 "> %>

    <div class="row justify-content-center ">
         <%# <div class="col-12 col-lg-6"> %>
          <div class="container-presentation-img  ">
            <%# <%= image_tag "rectangle.jpg", class: "img1" %>
            <%= image_tag "rectangle.jpg", class: "img2" %>
            <%# <%= image_tag "rectangle.jpg", class: "img3" %>
            <%= image_tag "rectangle.jpg", class: "img4" %>
            <%= image_tag "rectangle.jpg", class: "img5" %>
            <%= image_tag "rectangle.jpg", class: "img6" %>
            <%= image_tag "rectangle.jpg", class: "img7" %>
            <%= image_tag "rectangle.jpg", class: "img8" %>

          </div>
          <div class="container-presentation-text ">
            <h2>Les 7 productions</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <li>Have any questions? Contact us!</li>
            <h1>+33 01 01 01 01 01</h1>
          </div>
        <%# </div> %>
    </div>

  </div>

      <div class="container-propos">
        <%# <div class=" row justify-content-center  "> %>
          <div class="container-propos1">
            <h2 class="container-propos-title">Qui sommes-nous ? </h2>
            <p class="container-propos-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <%= image_tag "rectangle.jpg", class: "img10" %>
          </div>
        </div>



      <div class="container-video">
        <%# <div class=" row justify-content-center  "> %>
          <div class="container-video1">
            <h2 class="container-video-title">Nos vidéos </h2>
            <p class="container-video-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

            <%= image_tag "rectangle.jpg", class: "img10" %>

          </div>
        </div>




</div>
</body>
